.products {
  // .products__title
  margin-bottom: 80px;
  margin-top: 80px;

  &__title {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 74.9%;
    font-family: var(--font-accent);
    color: #031412;
    padding-bottom: 40px;
    @media (max-width: 450px) {
      font-size: 24px;
      line-height: 18px;
    }
  }

  // .products__content

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;

    @media (max-width: 1300px) {
      padding: 0 80px;
    }
    @media (max-width: 768px) {
      padding: 0 20px;
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      // padding: 0 60px;
    }
  }

  // .products__text

  &__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 27px;
    color: #ffffff;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    transition: all 0.3s ease 0s;
    @media (max-width: 1300px) {
      font-size: 20px;
      line-height: 19px;
    }
    @media (max-width: 450px) {
      font-size: 12px;
      padding-bottom: 10px;
      line-height: 12px;
    }
  }
}

.poducts {
  // .poducts__item

  &__item {
    overflow: hidden;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.2);
    @media (max-width: 1300px) {
      width: 273.1px;
      height: 295.13px;
    }
    @media (max-width: 768px) {
      width: 213.1px;
      height: 235.13px;
    }
    @media (max-width: 450px) {
      width: 134.7px;
      height: 148.62px;
    }

    &:hover {
      cursor: url("./../img/cursor.png"), auto;
    }
    &:hover {
      .products__text {
        color: #e7d3c5;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}
.products__content .poducts__item:nth-child(1) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(351.3deg, rgba(203, 141, 98, 0) 33.24%, #cb8d62 104.72%);
    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.products__content .poducts__item:nth-child(2) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);
    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.products__content .poducts__item:nth-child(3) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);

    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.products__content .poducts__item:nth-child(4) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);

    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.products__content .poducts__item:nth-child(5) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);

    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.products__content .poducts__item:nth-child(6) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      285.45deg,
      rgba(11, 63, 55, 0.8) 38.27%,
      rgba(203, 141, 98, 0.8) 141.81%
    );

    width: 445px;
    height: 491px;
    rotate: 180deg;
  }
}
.product__item-30,
.product__item-50,
.product__item-80 {
  position: absolute;
  z-index: 10;
}
.product__item-30 {
  left: 100px;
  top: 90px;
  font-family: Mont;
  font-size: 40px;
  font-weight: 900;
  line-height: 39px;
  color: #fff;
  @media (max-width: 768px) {
    top: 10px;
    left: 30px;
    top: 70px;
    left: 20px;
    font-family: Mont;
    font-size: 30px;
    font-weight: 950;
    line-height: 29px;
  }
  @media (max-width: 450px) {
    font-size: 14px;
    line-height: 13px;
    top: 15px;
    left: 20px;
  }
}
.product__item-50 {
  right: 50px;
  top: 170px;
  font-family: Mont;
  font-size: 70px;
  font-weight: 900;
  line-height: 67px;
  text-align: center;
  color: #fff;
  @media (max-width: 768px) {
    top: 100px;
    right: 20px;
    font-family: Mont;
    font-size: 30px;
    font-weight: 950;
    line-height: 29px;
  }
  @media (max-width: 450px) {
    font-size: 14px;
    font-weight: 950;
    line-height: 13px;
    right: 20px;
    top: 40px;
  }
}
.product__item-80 {
  top: 270px;
  left: 50px;
  font-family: Mont;
  font-size: 100px;
  font-weight: 900;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  @media (max-width: 768px) {
    left: 30px;
    top: 150px;
    font-family: Mont;
    font-size: 30px;
    font-weight: 950;
    line-height: 29px;
  }
  @media (max-width: 450px) {
    font-size: 14px;
    font-weight: 950;
    line-height: 13px;
    left: 30px;
    top: 80px;
  }
}
.products6-img {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 120;
}
.products6-img2 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 120;
  rotate: 180deg;
}
.products6-img3 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 120;
  rotate: 40deg;
}
.products6-img4 {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 120;
  rotate: 140deg;
}
